.screen {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    overflow-x: hidden;
  }
  
  .main {
    margin-left: 14%;
    background-color: #fff;
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    padding-top: 2%;
  }

  .textFields {
    position: absolute;
    display: flex;
    background-color: transparent;
    margin-left: 13%;
    padding-top: 5px;
    margin-top: 5px;
    top: 0;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    z-index: 2;
  }

  .SrcBtn {
    /* margin-left: 1rem; */
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
  }

  .Images {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .img:nth-child(odd) {
    background-color: rgba(230, 215, 215, 0.247);
  }

  .img {
    margin: 0px;
    width: 75%;
  }

  .topText {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .DepInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    margin-bottom: .5rem;
    margin-left: 1rem;
  }

  .ImageName {
    padding: .5rem;
    margin: 0;
    font-size: 150%;
  }

  .Version {
    padding-left: 1em; /* Adjust the value as needed */
  }

  .depText {
    margin: 0;
  }

  button {
    height: 55px;
    text-align: center;
    vertical-align: top;
    font-size: 15px;
    width: fit-content;
  }

  .CopyBtn {
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
    width: 100px;
    padding: 5px;
  }