.screen {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    overflow-x: hidden;
  }
  
  .main {
    margin-left: 14%;
    background-color: #fff;
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    padding-top: 2%;
  }

  .textFields {
    position: absolute;
    display: flex;
    background-color: transparent;
    margin-left: 25%;
    padding-top: 5px;
    margin-top: 5px;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    z-index: 2;
  }

  .SrcBtn {
    margin-left: 1rem;
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    color: black;
  }

  .CopyBtn {
    margin-left: 1rem;
    background-color: grey;
    border: 2px solid black;
    color: rgb(255, 255, 255);
  }

  .Images {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .img:nth-child(even) {
    background-color: rgba(230, 215, 215, 0.247);
  }

  .img {
    margin: 0px;
    width: 75%;
  }

  .topText {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .DepInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    background-color: transparent;
  }

  .ImageName {
    margin: 0;
    font-size: 300%;
  }

  .Version {
    padding-left: 1em; /* Adjust the value as needed */
  }

  .depText {
    margin: 0;
  }