.screen {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  overflow-x: hidden;
}

.sidebar {
  background-color: #948e8e;
  color: black;
  height: 100%;
  width: 14%;
  min-width: 14%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  position: fixed;
  top: 0;
}

.sideSpacer {
  height: 4%;
}

.main {
  margin-left: 14%;
  background-color: #fff;
  color: black;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  padding-top: 2%;
}

.head {
  color: black;
  font-size: large;
  margin-left: 20px;

}

.side-item {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: start;
  transition: 100ms;
  cursor: pointer;
  padding-left: 1rem;
}

.side-item-active {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: start;
  transition: 100ms;
  cursor: pointer;
  background-color: #d3d3d3;
}

.side-item:hover {
  background-color: #d3d3d3;
  transition: 100ms;
}

.images {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-x: scroll;
}

.image {
  background-color: #948e8e;
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 90px;
}

.imtxt {
  font-size: large;
}

.dep {
  background-color: #948e8e93;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 80px;
  margin-bottom: 5px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  padding: 0px;
  margin: 0px;
}

.foundDeps {
  display: grid;
  grid-template-columns: repeat(6, 8%);
  grid-gap: 0px;
}

.depHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: black solid 1px;
  background-color: #d3d3d3;
  border-radius: 10px;
  margin: 3px;
}

.depForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editHolder {
  background-color: #4fac01;
  height: 100%;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 5px;
  display: flex;
  cursor: pointer;
}

.edit {
  margin: auto;
}

.deleteHolder {
  background-color: #db0b0b;
  height: 100%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
  cursor: pointer;
}

.delete {
  margin: auto;
}

.image-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  font-size: x-large;
}

.acc {
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
}

.textFields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.icon:hover {
  background-color: #00000042;
  border-radius: 50px;
  padding: 5px;
}

.icon {
  padding: 5px;
}

.accHolder {
  width: fit-content;
}

.check {
  align-self: center;
  margin-bottom: 1rem;
}

.accH {
  width: 70%;
}

.AllImages {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SingleImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: rgba(160, 139, 139, 0.329) solid 1px;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 0;
}

.HeaderHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.ImageHeader {
  width: fit-content;
  margin-bottom: .5rem;
  font-size: xx-large;
}

.DepMap {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
}

.DepHolder {
  background-color: #948e8e2f;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 0px .5px 1px .5px;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  height: 98%;
}