.screen {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  overflow-x: hidden;
}

.main {
  margin-left: 14%;
  background-color: #fff;
  color: black;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
}

.textFields {
  position: absolute;
  display: flex;
  background-color: transparent;
  margin-left: 30%;
  padding-top: 5px;
  margin-top: 5px;
  top: 0;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 2;
}

.Spacer {
  height: 3.5rem;
}