.screen {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    overflow-x: hidden;
  }

  .main {
    margin-left: 14%;
    background-color: #fff;
    color: black;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    padding-top: 2%;
  }

.baselineHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: black solid 1px;
}

.add {
    background-color: #d3d3d3;
    border-radius: 50%;
    transition: 150ms;
}

.add:hover {
    background-color: #a9a9a9;
    transition: 150ms;
}